<main class="mc-page__content" id="mc-main">
    <section data-testid="hero-section">
        <div class="Hero_tileContainer__1ISRc">
            <div class="mc-tile mc-tile--auto">
                <div class="mc-tile__content content">

                    <div class="fresnel-container fresnel-greaterThanOrEqual-md "><span
                            style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;"><img
                                alt="" image="[object Object]" sizes="100vw"
                                
 
                                src="./img/vintnerize-background.jpg"
                                decoding="async" data-nimg="fill" class="mc-tile-image"
                                style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"></span>
                    </div>
                    <!-- -->
                    <div color="0,0,0" class="mc-tile__component mc-tile-overlay mc-tile-overlay--gradient-bottom "
                        style="background: linear-gradient(to top, rgb(0, 0, 0) 0px, rgba(0, 0, 0, 0.6) 25%, rgba(0, 0, 0, 0) 45%) center center no-repeat;">
                    </div>
                    
                    <div class="mc-tile__component mc-tile-caption mc-tile-caption--x-left ">
                        <div class="mc-tile-caption__content mc-p-3">
                            <div class="container">
                                <div class="mc-text--center">
                                    <div class="row justify-content-center">
                                        <div class="col-8 col-sm-6 col-md-3">
                                            <div class="mc-nameplate mc-nameplate--small mc-text--center"
                                                data-testid="nameplate">
                                                <div class="mc-nameplate__inner">
                                                    <h1
                                                        class="Hero_nameplateImageContainer__iH1se align-items-end justify-content-center">

                                                        VINTNERIZE
                                                        <!-- -->  
                                                        <span
                                                            style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;"></span>
                                                              
                                                    </h1>
                                                    <div class="mc-nameplate__separator"></div>
                                                    <p class="mc-text--2-lines mc-text-h6"
                                                        data-testid="nameplate__sub-text">Pty Ltd is the company behind the following iconic brands:</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-12 col-md-8 col-lg-6">Pty Ltd is the company behind the following iconic brands:</div>
                                    </div>
                                </div>
  
 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  
    

</main>